@model EmployeeEditPageModel
<h2>Employees Page</h2>
<h3>@ViewData["Information"]</h3>

<body>
    <table style="width=100%">

        @using (Html.BeginForm("SubmitEmployee", "Home", FormMethod.Post))
        {

        <tr>

            <td>
                Name:
            </td>

            <td>
                <input type="text"value="@Model.employee.name" name="_name"/>
            </td>

        </tr>


        <tr>

            <td>
                Salary:
            </td>

            <td>
                <input type="number" value="@Model.employee.salary" name="_Salary" />
            </td>

        </tr>

        <tr>

            <td>
                Title:
            </td>

            <td>
                <input type="text" value="@Model.employee.title" name="_title" />
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.isNew)
                {
                    <input type="hidden" value="-1" name="_employeeId" />
                }
                @if (!Model.isNew)
                {
                    <input type="hidden" value="@Model.employee.id" name="_employeeId" />
                }

                <input type="submit" value="confirm" />
            </td>
        </tr>
        }
    </table>
</body>