@model EmployeesPageModel
<h2>Employees Page</h2>
<h3>@ViewData["Information"]</h3>

<style>
   .container-table{
       background-color: white;
       margin: 10px 0px 70px ;
       height: 800px;
       width: 1200px;
   }
    .add-employee {
        height: 70px;
        width: 190px;
        margin: 143px 20px 0px 930px;
        background-color: yellow;
    }
    .delete-employee {
        height: 70px;
        width: 190px;
        margin: 100px 20px 0px 930px;
        background-color: yellow;
    }
    .modify-employee {
        height: 70px;
        width: 190px;
        margin: 100px 20px 0px 930px;
        background-color: yellow;
    }
    #button-add{
        align-items:center;
        height:70px;
        width: 190px;
        font-size: 20px;
    }
   
    
    .Search-Bar {
        background-color: black;
        margin: -540px 10px 10px 905px;
        height: auto;
        width: 217px;
    }
    #search-button{
        height:35px;
        
    }
    thead,
    tfoot {
        background-color: #3f87a6;
        color: #fff;
    }

    tbody {
        background-color: #e4f0f5;
        
    }
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 20px;
        width: 800px;
        margin: 30px;
    }

    td,
    th {
        border: 2px solid black;
        padding: 5px 10px;
    }

    td {
        text-align: left;
        padding: 5px,20px,5px,200px;
        
    }
    th{
        background-color:#a70000;
        color: white;
    }
    tr:nth-child(even){
        background-color: #e8e8e8;
    }
    tr:nth-child(odd){
        background-color: white;
    }
    #header{
        text-align: center;
        background-color: blue;
        color: white;
        font-stretch: expanded;
        height: 60px;
        font-family: sans-serif;
        font-size: 40px;
    }
    p{
        font-size:30px;
    }
</style>
<body >

    @using (Html.BeginForm("EmployeesPage", "Home", FormMethod.Post)) {

        <input type="text"name="query"placeholder="Filter" value="@ViewData["Query"]"/>
        <input type="submit"style="visibility:hidden;">

    }

    <div class="container-table">
        <table align="left">
            <tr>
                <td id="header" colspan="6">Employees Record</td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Title </th>
                <th>Salary</th>
                <th colspan="2"></th>
            </tr>

            @{
                for (int i = 0; i < Model.Employees.Count; i++)
                {
                    <tr>
                    @Html.Raw("<td>" + Model.Employees[i].name + "</td>")
                    @Html.Raw("<td>" + Model.Employees[i].title + "</td>")
                    @Html.Raw("<td>" + Model.Employees[i].salary.ToString() + "</td>")


                    <td>
                        @using (Html.BeginForm("DeleteEmployee", "Home", FormMethod.Post))
                        {
                            <input type="hidden" name="employeeId" value="@Model.Employees[i].id" />
                            <input type="submit" value="FIRE" />
                        }
                    </td>

                    <td>
                        @using (Html.BeginForm("EditEmployeePage", "Home", FormMethod.Post))
                        {
                            <input type="hidden" name="employeeId" value="@Model.Employees[i].id" />
                            <input type="submit" value="Edit" />
                        }
                    </td>

                    </tr>
                    }
            }
        </table>
        
        <div class="add-employee">
            <p>
                @using (Html.BeginForm("EditEmployeePage", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="employeeId" value="-1" />
                    <input id="button-add" type="submit" value="Add" />
                }
            </p>
        </div>
        <div class="Search-Bar">
            <form action="">
            <input id ="search-button" type ="text" placeholder="Search..." name="Search-Bar" />
            <button type="submit" >Find</button>
            
            </form>

        </div>
    </div>
 </body>