@model ProjectViewPageModel
@using Wallace.Common.Models
<h1>CURRENT PROJECT</h1>

<style>
    .page-container{
        border: 2px solid black;
        height: auto;
        width: auto;
    }

   .project-name
   {
        border: 2px solid black;
        height: auto;
        width: auto;
   }
   .spec-container{
       margin:0px 0px 0px 0px;
       width: 900px;
       height:auto;
       background-color: white;
   }
   .version-container{
       margin: 0px 0px 0px 0px;
      
   }
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 20px;
        width: 800px;
        margin: 30px;
    }

    td,
    th {
        border: 2px solid black;
        padding: 5px 10px;
    }

    td {
        text-align: left;
        padding: 5px,20px,5px,200px;
    }

    th {
        background-color: #a70000;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #e8e8e8;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    #header {
        text-align: center;
        background-color: blue;
        color: white;
        font-stretch: expanded;
        height: 60px;
        font-family: sans-serif;
        font-size: 40px;
    }
</style>
<body>
    
    <div class="page-container">
        <div class="project-name">

        <h1><b>@Model.project.name</b> :@Model.project.desc</h1>
        </div>

        <div class="spec-container">
            <table>
                <tr><th id="header" colspan="2">Project Specifications</th></tr>
               
                    @{
                        foreach (Spec s in Model.project.specs)
                        {

                            <tr>
                                <td>@s.name</td>
                                <td>@s.description</td>


                            </tr>
                        }
                    }
                </table>
        </div>
        <div class="version-container">
            <h2>Versions</h2>
            <table class="table2">
                <tr><th>No.</th><th>Date</th><th colspan="3"></th></tr>
                @{ foreach (PVersion v in Model.project.versions)
                    {

                        <tr>
                            <td> @v.versionNumber</td>


                            <td>@v.releaseDate.ToLongDateString()</td>
                            @using (Html.BeginForm("VersionViewPage", "Home", FormMethod.Post))
                            {
                                <td> <input type="hidden" name="projectId" value="@Model.project.id" />
                                <input type="hidden" name="versionId" value="@v.id" />
                                <input type="hidden" name="projectId" value="@v.pid" />
                                <input type="submit" value="View" /></td>
                            }
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</body>