@model ProjectEditPageModel
@using Wallace.Common.Models

<body>

    <div class="page-container">
        <div class="project-name">

            <h1><b>@Model.project.name</b> :@Model.project.desc</h1>
        </div>

        <div class="spec-container">
            <h2>Project Specifications</h2>
            <table>
                @{
                    foreach (Spec s in Model.project.specs)
                    {

                        <tr>
                            <td>@s.name</td>
                            <td>@s.description</td>
                        </tr>
                    }
                }
            </table>

            <h3>Add Spec to Project</h3>
            @using(Html.BeginForm("AddSpecToProject", "Home", FormMethod.Post))
            {
                <input type="hidden"name="_pid"value="@Model.project.id" />
                <input type="text"name="_name"value="Spec Name" />
                <input type="text"name="_description"value="Spec Description" />
                <input type="submit"value="Add Spec" />
            }

        </div>
        <div class="version-container">
            <h2>Versions</h2>
            <table class="table2">
                <tr><th>No.</th><th>Date</th><th colspan="3"></th></tr>
                @{foreach (PVersion v in Model.project.versions)
                    {

                        <tr>
                            <td> @v.versionNumber</td>


                            <td>@v.releaseDate.ToLongDateString()</td>
                            @using (Html.BeginForm("VersionEditPage", "Home", FormMethod.Post))
                            {
                                <td><input type="hidden" name="versionId" value="@v.id" /></td>
                                <td><input type="hidden" name="projectId" value="@v.pid" /></td>
                                <td><input type="submit" value="Edit" /></td>
                            }
                        </tr>
                    }
                }

                <tr>

                    @using (Html.BeginForm("VersionEditPage", "Home", FormMethod.Post))
                            {
                                <td> <input type="hidden" name="projectId" value="@Model.project.id" /></td>
                                <td><input type="hidden" name="versionId" value="-1" /></td>
                                <td><input type="submit" value="Add New Version" /></td>
                            }

                </tr>
            </table>
        </div>
    </div>
</body>