@model TeamsPageModel
<h2>Teams Page</h2>
<h3>@ViewData["Information"]</h3>


<style>

    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 20px;
        width: 800px;
        margin: 30px;
    }

    td,
    th {
        border: 2px solid black;
        padding: 5px 10px;
    }

    td {
        text-align: left;
        padding: 5px,20px,5px,200px;
    }

    th {
        background-color: #a70000;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #e8e8e8;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    #header {
        text-align: center;
        background-color: blue;
        color: white;
        font-stretch: expanded;
        height: 60px;
        font-family: sans-serif;
        font-size: 40px;
    }
    #edit-data{
        text-align: center;
    }
    #delete-data{
        text-align:center;
    }
    #add-new{
        font-size:40px;
    }
</style>
@{
    for (int i = 0; i < Model.teams.Count; i++)
    {
        
    <table width:"100%">
      <h1><b> @Model.teams[i].name</b></h1>


        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Salary</th>
        </tr>

        @for (int j = 0; j < Model.teams[i].members.Count; j++)
        {

            <tr>
                @Html.Raw("<td>" + Model.teams[i].members[j].name + "</td>")
                @Html.Raw("<td>" + Model.teams[i].members[j].title + "</td>")
                @Html.Raw("<td>" + Model.teams[i].members[j].salary.ToString() + "</td>")
                @Html.Raw("</tr>")

            </tr>
        }

        <tr>
            <td id="edit-data" colspan="3">
                @using (Html.BeginForm("TeamEditPage", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="teamId" value="@Model.teams[i].id" />
                    <input type="submit" value="Edit" />
                }
            </td>
        </tr>

        <tr>
            <td id="delete-data" colspan="3">
                @using (Html.BeginForm("DeleteTeam", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="teamId" value="@Model.teams[i].id" />
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>

    </table>



    }
    <p id="add-new">
    @using (Html.BeginForm("TeamEditPage", "Home", FormMethod.Post))
    {
        <input type="hidden" name="teamId" value="-1" />
        <input type="submit" value="Add Team" />
    }</p>

}

