@model TeamsPageModel
<h2>Teams Page</h2>
<h3>@ViewData["Information"]</h3>



@{
    for (int i = 0; i < Model.teams.Count; i++)
    {
        <div>

            <h2>@Model.teams[i].name</h2>
            <table style="width=100%">

                <tr>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Salary</th>
                </tr>

                @for (int j = 0; j < Model.teams[i].members.Count; j++)
                {

                    <tr>
                        @Html.Raw("<td>" + Model.teams[i].members[j].name + "</td>")
                        @Html.Raw("<td>" + Model.teams[i].members[j].title + "</td>")
                        @Html.Raw("<td>" + Model.teams[i].members[j].salary.ToString() + "</td>")
                        <td>
                            @using (Html.BeginForm("RemoveTeamMember", "Home", FormMethod.Post))
                            {
                                <input type="hidden" name="_teamId" value="@Model.teams[i].id" />
                                <input type="hidden" name="_empId" value="@Model.teams[i].members[j].id" />
                                <input type="submit" value="Remove" />
                            }
                        </td>
                        @Html.Raw("</tr>")

                    </tr>
                }

                <tr>
                    <td>
                        @using (Html.BeginForm("TeamEditPage", "Home", FormMethod.Post))
                        {
                            <input type="hidden" name="teamId" value="@Model.teams[i].id" />
                            <input type="submit" value="Edit" />
                        }
                    </td>
                </tr>

                <tr>
                    <td>
                        @using (Html.BeginForm("DeleteTeam", "Home", FormMethod.Post))
                        {
                            <input type="hidden" name="teamId" value="@Model.teams[i].id" />
                            <input type="submit" value="Delete" />
                        }
                    </td>
                </tr>

            </table>

        </div>

    }

    @using (Html.BeginForm("TeamEditPage", "Home", FormMethod.Post))
    {
        <input type="hidden" name="teamId" value="-1" />
        <input type="submit" value="Add Team" />
    }

}

