@model TeamEditPageModel
@using Wallace.Common.Models;


<style>
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 20px;
        width: 800px;
        margin: 30px;
    }

    td,
    th {
        border: 2px solid black;
        padding: 5px 10px;
    }

    td {
        text-align: left;
        padding: 5px,20px,5px,200px;
    }

    th {
        background-color: #a70000;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #e8e8e8;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    #header {
        text-align: center;
        background-color: #a70000;
        color: white;
        font-stretch: expanded;
        height: 60px;
        font-family: sans-serif;
        font-size: 40px;
    }

    #confirm {
        text-align: center;
    }

</style>
<body>
    <table>
        <tr><th colspan="2" id="header">Edit or Add new Team</th></tr>
        @using (Html.BeginForm("SubmitTeam", "Home", FormMethod.Post))
        {

            <tr>

                <td>
                    Name:
                </td>

                <td>
                    <input type="text" value="@Model.team.name" name="_name" />
                </td>

            </tr>


            <tr>

                <td>
                    Description:
                </td>

                <td>
                    <input type="text" value="@Model.team.desc" name="_desc" />
                </td>

            </tr>

            <tr>

                <td>
                    Leader:
                </td>

                <td>
                    <select name="_leader">

                        @foreach (Employee e in Model.employees)
                        {
                            if (Model.team.leader != null)
                            {
                                if (e.id == (Model.team.leader.id))
                                {
                                    @Html.Raw("<option selected=selected value=" + e.id + ">" + e.name + "</option>");
                                }
                                else
                                {

                                    @Html.Raw("<option value=" + e.id + ">" + e.name + "</option>");

                                }
                            }
                            else
                            {
                                @Html.Raw("<option value=" + e.id + ">" + e.name + "</option>");
                            }

                        }

                    </select>
                </td>
            </tr>

            <tr>
                <td>Pick the team members</td>
                <td>
                    <select name="_employees" multiple>

                        @foreach (Employee e in Model.employeesNotOnTeam)
                        {
                            @Html.Raw("<option value=" + e.id + ">" + e.name + "</option>");
                        }

                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2" id="confirm">
                    <input type="hidden" name="_id" value="@Model.team.id" />
                    <input type="submit" value="confirm" />
                </td>
            </tr>



        }
    </table>
</body>