@model VersionEditPageModel
@using Wallace.Common.Models
<h2>Project View Page</h2>
<h3>@ViewData["Information"]</h3>


    <h1>
        version: @Model.version.versionNumber
    </h1>
    Due:
    @Model.version.releaseDate

    <h2>Version Specifications</h2>

    @{
        foreach (Spec s in Model.version.specs)
        {
            <h3>
                @s.name
            </h3>
            @s.description
        }
    }

    <h2>
        Teams Working on this version
    </h2>
    @{
        foreach (Team t in Model.version.teams)
        {
            <h3>
                @t.name
            </h3>
            foreach(Employee e in t.members)
            {
                <li>
                    @e.name
                </li>
            }
        }
    }

