@model VersionEditPageModel
@using Wallace.Common.Models
<h2>Project View Page</h2>
<h3>@ViewData["Information"]</h3>

@using (Html.BeginForm("SubmitVersion", "Home", FormMethod.Post))
{
    <h1>
        version:
        <input type="number" value="@Model.version.versionNumber" name="_versionNumber" />

    </h1>

    @Html.Raw("Release Date:")
    <input type="datetime" value="@Model.version.releaseDate" name="_releaseDate" />

    <h2>Version Specifications</h2>

    {
        foreach (Spec s in Model.version.specs)
        {
            <h3>
                @s.name
            </h3>
            @s.description
        }
    }
    <h2>
        Add Specification to version
    </h2>
    <select name="_specs" multiple>

        @foreach (Spec s in Model.NotMetSpecs)
        {
            @Html.Raw("<option value=" + s.id + ">" + s.name + "</option>");
        }
    </select>


    <h2>
        Teams Working on this version
    </h2>
    {
        foreach (Team t in Model.version.teams)
        {
            <h3>
                @t.name
            </h3>

        }
        <select name="_teams" multiple>

            @foreach (Team t in Model.version.teams)
            {
                @Html.Raw("<option value=" + t.id + ">" + t.name + "</option>");
            }

        </select>
    }
            <input type="hidden" name="_id"value="@Model.version.id" />
            <input type="hidden" name="_pid"value="@Model.pid" />
            <input type="submit"value="Save" />
}


